<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      internalLogLevel="Warn"
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogFile="nlog-internal.log">

  <!-- Enable asp.net core layout renderer -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- Host details -->
  <variable name="cubesRoot" value="${basedir}" /> <!-- Default Value -->
  <variable name="HostDetails" value="Running ${processname:fullName=true} (id:${processid}) ...${newline}Cubes root folder: ${cubesRoot}${newline}" />
  <variable name="Footer" value="Finished, total execution time ${processtime:invariant=true}${newline}${newline}${newline}" />

  <!-- Exception layout -->
  <variable name="ExceptionHeader" value="------------------------------- E X C E P T I O N ------------------------------" />
  <variable name="ExceptionFooter" value="--------------------------------------------------------------------------------" />
  <variable name="ExceptionBody"   value="${exception:format=toString,Data}" />
  <variable name="ExceptionLayout" value="${newline}${ExceptionHeader}${newline}${ExceptionBody}${newline}${ExceptionFooter}${newline}" />
  <variable name="allPropertiesLayout" value="${when:when=length('${all-event-properties}')>0:inner=${newline}Properties\: ${all-event-properties}${newline}}" />

  <!-- Targets -->
  <targets>
    <!-- Colored console  -->
    <target xsi:type="ColoredConsole"
            name="console"
            header="${HostDetails}"
            footer="${Footer}"
            layout="${time}  ${level:uppercase=true:padding=-6}: ${logger} | ${message}${onexception:${newline}${ExceptionLayout}}${allPropertiesLayout}">

      <!-- Adjust highlights -->
      <highlight-row condition="level==LogLevel.Trace" foregroundColor="Gray" />
      <highlight-row condition="level==LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level==LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level==LogLevel.Warn" foregroundColor="Gray" />
      <highlight-row condition="level==LogLevel.Error" foregroundColor="White"/>
      <highlight-row condition="level==LogLevel.Fatal" foregroundColor="White" />
      <highlight-word text="DEBUG" foregroundColor="Magenta" wholeWords="true" />
      <highlight-word text="INFO" foregroundColor="DarkGreen" wholeWords="true" />
      <highlight-word text="WARN" foregroundColor="DarkYellow" wholeWords="true" />
      <highlight-word text="ERROR" foregroundColor="DarkRed" wholeWords="true"/>
      <highlight-word text="FATAL" foregroundColor="DarkRed" wholeWords="true"/>

      <!-- Highlight running URL -->
      <highlight-word foregroundColor="DarkYellow" regex="Now listening on:(.)+" compileRegex="true"/>

      <!-- Highlight CubesManagement -->
      <highlight-word foregroundColor="DarkGreen" text="Cubes Management"/>

      <!-- Highlight time -->
      <highlight-word foregroundColor="Blue" regex="^\d{2}:\d{2}:\d{2}.\d{4}" compileRegex="true" />

      <!-- Highlight properties -->
      <highlight-word foregroundColor="DarkCyan" regex="Properties\:(.)+" compileRegex="true" />

      <!-- Highlight properties -->
      <highlight-word foregroundColor="Red" text="E X C E P T I O N" />

      <!-- Highlight Logo -->
      <highlight-word foregroundColor="DarkRed" text="   ______      __                       ______" />
      <highlight-word foregroundColor="DarkRed" text="  / ____/_  __/ /_  ___  _____   _   __/ ____/" />
      <highlight-word foregroundColor="DarkRed" text=" / /   / / / / __ \/ _ \/ ___/  | | / /___ \  " />
      <highlight-word foregroundColor="DarkRed" text="/ /___/ /_/ / /_/ /  __(__  )   | |/ /___/ /  " />
      <highlight-word foregroundColor="DarkRed" text="\____/\__,_/_.___/\___/____/    |___/_____/   " />

    </target>

    <!-- File -->
    <target name="file"
            xsi:type="File"
            footer="${Footer}"
            layout="${date}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${ExceptionLayout}}${allPropertiesLayout}"
            fileName="${var:cubesRoot}/Logs/logfile.txt"
            archiveFileName="${var:cubesRoot}/Logs/logfile.{#}.txt"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            maxArchiveFiles="7"
            encoding="utf-8"
            lineEnding="CRLF"
            />

  </targets>

  <!-- Rules -->
  <rules>
    <!-- Skip Quartz debug logs -->
    <logger name="Quartz.*" maxlevel="Debug" final="true" />

    <!-- Skip Microsoft noise -->
    <logger name="Microsoft.*" maxlevel="Debug" final="true" />

    <!--All logs -->
    <logger name="*" minlevel="Trace" writeTo="console" />

    <!-- File -->
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>