[Unit]
Description=Cubes NEXT

[Service]
# Path to executable
ExecStart=/opt/Cubes/cubes

# Unique name, to query logs using journalctl, i.e. 'journalctl -u CubesNEXT'
SyslogIdentifier=CubesNEXT

# User for process. Needs read-write access to Cubes folder
User=giorgos

# Ensure the service restarts after crashing
Restart=always
# Amount of time to wait before restarting the service
RestartSec=5

[Install]
WantedBy=multi-user.target
